/*
* @Author: zhangxinliang
* @Date:   2016-07-05 13:46:23
* @Last Modified by:   zhangxinliang
* @Last Modified time: 2016-07-05 14:48:12
*/
* {
	margin: 0;
	padding: 0;
}
html, 
body {
	width: 100%;
	height: 100%;
}
body {
	display: flex;
	align-items: center; 
	justify-content: center;
	font-family: Microsoft YaHei;
	background-color: #EEE;
}
.book-list-box {
	padding: 30px 44px 0 30px;
	width: 310px;
	min-width: 310px;
	font-size: 18px;
	color: #333;
	background-color: #FFF;
}
.book-list-title {
	margin-bottom: 33px;
	font-weight: bold;
}
.book-list-rank {
	list-style: none;
}
.book-list-rank li {
	height: 62px;
	line-height: 62px;
	border-top: 2px dashed #e4e4e4;
}
.book-list-rank li:first-child {
	border-top: 2px solid #e4e4e4;
}
.book-list-rank li span {
	margin-right: 25px;
}
.book-list-rank li span.hot {
	color: #c21a00;
}
.book-list-rank li a {
	text-decoration: none;
	color: #333;
}
.book-list-rank li a:hover {
	color: #c21a00;
}